.footer-sec {
    background-image: url('../../Images/footer-i.png');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
.footer-img img{
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}

.foot-contact p {
    display: flex;
    gap: 12px;
    cursor: pointer;
}
.foot-contact p:hover{
    color: #f39c36;
}

.foot-contact img {
    width: 20px;
    height: 20px;
}

.quick-l a {
    color: #fff;
    text-decoration: none;
}
.quick-l a:hover{
    color: #f39c36;
}

.service-link a {
    color: #fff;
    text-decoration: none;
}
.service-link a:hover{
    color: #f39c36;
}

.footer-items {
    margin: auto;
    justify-content:space-around
}
.row.text-white.footer-item {
    justify-content: space-between;
}

.foot-contact h4, .quick-l h4, .service-link h4{
    font-weight: 700;
} 

.copyright a {
    text-decoration: none;
}

.copyright span {
    justify-content: end;
    display: flex;
}

@media (max-width: 1024px) {
    .footer-item {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .footer-sec {
        padding: 30px 0 !important;
    }

    .footer-item {
        display: flex;
         
    }
    .quick-l ul,
    .service-link ul {
        padding: 0;
        list-style: none;
    }

    .copyright {
        text-align: center;
    }

    .copyright span {
        display: block;
        justify-content: center;
        margin-top: 10px;
    }
}

